/* Work Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;700;800&display=swap');

/* Shared Items */

* {
    font-family: 'Work Sans', sans-serif;
}

.text-color-gray {
    color: rgb(114, 114, 114);
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: #fff;
    font-size: 1rem;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
}

/* Header style */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 250px;
}

.nav-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
}

/* Banner style  */

.banner-content {
    max-height: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Mian Style */

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams Style */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
    font-weight: 700;
}
.first-span{
    color: rgb(114, 114, 114);
    font-weight: 500;
}
.second-span{

}
.third-span{
    color: rgb(255, 144, 14);
    font-weight: 700;
}



/* Responsive Style */

/* Mobile device  */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container
    {
        flex-direction: column;
    }
    
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Tablet device */
@media screen and (min-width: 576px) and (max-width:960px) {
    header {
        padding: 50px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
}